* {
  box-sizing: border-box;
}

html, 
body, {
  height:  100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: ;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Candal', serif;
  color: #5c5b5b;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTENT */

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: #fff;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
}

.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content .post {
  width:  95%;
  height:  270px;
  margin:  20px auto;
  border-radius: 5px;
  background: #fff;
  position: relative;
}

